<section class="ui inverted brown segment">
<form class="ui yellow raised center aligned segment form" name="addAssessment" action="/dashboard/addassessment" method="POST">
        <div class="six fields">
            <div class="field three wide">
                <label> Weight </label>
                <input placeholder="00.00kg" type="number" name="weight" step=".01" min="35" max="250" class="ui yellow segment" required>
            </div>
            <div class="field three wide">
                <label> Chest </label>
                <input placeholder="00.00cm" type="number" name="chest" step=".01" min="35" class="ui yellow segment" required>
            </div>
            <div class="field three wide">
                <label> Thigh </label>
                <input placeholder="00.00cm" type="number" name="thigh" step=".01" min="35" class="ui yellow segment" required>
            </div>
            <div class="field three wide">
                <label> Upper Arm </label>
                <input placeholder="00.00cm" type="number" name="upperArm" step=".01" min="15" class="ui yellow segment" required>
            </div>
            <div class="field three wide">
                <label> Waist </label>
                <input placeholder="00.00cm" type="number" name="waist" step=".01" min="65" class="ui yellow segment" required>
            </div>
            <div class="field three wide">
                <label> Hips </label>
                <input placeholder="00.00cm" type="number" name="hips" step=".01" min="65" class="ui yellow segment" required>
            </div>
        </div>
        <button class="ui animated fade blue submit button">
            <div class="visible content"><i class="add circle icon"></i> Add Assessment</div>
            <div class="hidden content">Click to Save</div>
        </button>
    </form>
</section>