<section class="ui inverted brown segment">
    <form class="ui yellow raised center aligned segment form" name="addClass" action="/trainerDashboard/addclass"
          method="POST">
        <div class="three fields">
            <div class="field">
                <label>Class name</label>
                <input placeholder="Class name" name="name" required>
            </div>
            <div class="field">
                <label>Description</label>
                <textarea rows="2" name="description"></textarea>
            </div>
            <div class="field">
                <label>Duration</label>
                <select class="ui dropdown" name="duration" required>
                    <option value=""> No. of Weeks</option>
                    <option value="1"> 1 Week</option>
                    <option value="2"> 2 Weeks</option>
                    <option value="3"> 3 Weeks</option>
                    <option value="4"> 4 Weeks</option>
                    <option value="5"> 5 Weeks</option>
                    <option value="6"> 6 Weeks</option>
                    <option value="7"> 7 Weeks</option>
                    <option value="8"> 8 Weeks</option>
                </select>
            </div>
        </div>
        <div class="four fields">
            <div class="field">
                <label>Capacity</label>
                <input placeholder="Capacity" type="number" name="capacity" step="1" min="5" max="20"
                       required>
            </div>
            <div class="field">
                <label> Difficulty </label>
                <select class="ui dropdown" name="difficulty" required>
                    <option value="">Select Level</option>
                    <option value="beginners"> Beginners</option>
                    <option value="intermediate"> Intermediate</option>
                    <option value="advanced"> Advanced</option>
                </select>
            </div>
            <div class="field">
                <label>Time</label>
                <div class="ui input left icon">
                    <i class="time icon"></i>
                    <input placeholder="Time" name="time" required>
                </div>
            </div>
            <div class="field">
                <label>Date</label>
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input placeholder="Date" name="date" required>
                </div>
            </div>
        </div>
        <button class="ui animated fade blue submit button">
            <div class="visible content"><i class="add circle icon"></i>Create Class</div>
            <div class="hidden content">Click to Save</div>
        </button>
    </form>
</section>
