<div class="ui two column grid basic segment">
    <div class="column">
        <section class="ui inverted brown segment">
            <section class="ui yellow raised segment">
                <h3 class="ui center aligned header">Updaayhin' your bookin's ay?? <br> Sure wha' are hya whaitin' far?? Carry an!!</h3>
                <img class="ui centered image" src="http://res.cloudinary.com/cloud101/image/upload/v1504804791/leprechaun_qskvbk.png">

            </section>
        </section>
    </div>

    <div class="column">
        <section class="ui inverted brown segment">
            <div class="ui large blue left ribbon label">
                <i class="add to calendar icon"></i> Your current Assessment Booking Details being updated!!
            </div>
            <section class="ui yellow segment">
                <table class="ui fixed left aligned table">
                    <tr>
                        <td><i class="user circle icon"></i>Trainer:</td>
                        <td>Coach {{bookingToUpdate.coachlastname}}</td>
                    </tr>
                    <tr>
                        <td><i class="time icon"></i>Assessment Time:</td>
                        <td>{{bookingToUpdate.time}}</td>
                    </tr>
                    <tr>
                        <td><i class="calendar icon"></i>Assessment Date:</td>
                        <td>{{bookingToUpdate.date}}</td>
                    </tr>
                </table>
            </section>
        </section>
        <section class="ui inverted brown segment">
            <div class="ui large red right ribbon label">
                <i class="add to calendar icon"></i> Update your Assessment Booking Details!!
            </div>
            <form class="ui yellow raised segment form" name="memberEditBooking" action="/dashboard/membereditbooking/{{bookingToUpdate.bookingid}}" method="POST">
                <section class="ui raised segment">
                    <div class="two fields">
                        <div class="field">
                            <label>New Assessment Time</label>
                            <div class="ui yellow input left icon">
                                <i class="time icon"></i>
                                <input placeholder="time" type="time" name="time" step="1800" min="06:00" max="18:00" required>
                            </div>
                        </div>
                        <div class="field">
                            <label>New Assessment Date</label>
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input placeholder="date" type="date" name="date" required>
                            </div>
                        </div>
                    </div>

                    <button class="ui animated fade blue submit button">
                        <div class="visible content"><i class="upload icon"></i>&nbsp;Update Booking</div>
                        <div class="hidden content">Click to Save</div>
                    </button>
                </section>
            </form>
        </section>
    </div>
</div>

<script>
    // sets calendar from todays date
    const todaysDate = new Date().toISOString().split('T')[0];
    document.getElementsByName("date")[0].setAttribute('min', todaysDate);
</script>