<div class="ui five cards">
    {{#each classes}}
        <div class="card">
            <div class="blurring dimmable image">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <h5 class="ui inverted header">{{description}}</h5>
                            <a href="/trainerDashboard/trainerupdateclass/{{classid}}" data-tooltip="Edit or View Class Details">&emsp;Edit&emsp;<i class="inverted blue write icon"></i></a>
                            <br><br><br><br><br><br>
                            <a href="/trainerDashboard/removeclass/{{classid}}" data-tooltip="Class and All  Workouts">&emsp;Remove&emsp;<i class="inverted red trash icon"></i></a>
                        </div>
                    </div>
                </div>
                <div class="ui blue header">
                    {{name}}
                </div>
                <img class="ui large circular centered image" src="http://res.cloudinary.com/cloud101/image/upload/v1502998058/nedworkout_lxfjqu.jpg">

            </div>
        </div>
    {{/each}}
</div>

<script>
    // Sets card image to dim for trainer to reveal edit/view or remove class icons which are linked to appropriate pages
    $('.five.cards .image').dimmer({
        on: 'hover'
    });
</script>