<div class="ui five cards">
    {{#each classes}}
        <div class="card">
            <div class="blurring dimmable image">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <h5 class="ui inverted header">{{description}}</h5>
                            <a href="/trainerDashboard/trainerupdateclass/{{classid}}" data-tooltip="Edit Class">&emsp;Edit Class&emsp;<i class="large blue write icon"></i></a>
                            <br><br><br><br><br><br>
                            <a href="/trainerDashboard/removeclass/{{classid}}" data-tooltip="Are You Sure??">&emsp;Remove Class&emsp;<i class="large red trash icon"></i></a>
                        </div>
                    </div>
                </div>
                <div class="ui blue header">
                    {{name}}
                </div>
                <img class="ui large circular centered image" src="http://res.cloudinary.com/cloud101/image/upload/v1502998058/nedworkout_lxfjqu.jpg">

            </div>
        </div>
    {{/each}}
</div>


<script>
    $('.five.cards .image').dimmer({
        on: 'hover'
    });
</script>