<nav class="ui menu">
    <header class="ui red header item"> Lefties Gym App </header>
    <div class="right menu">
        <div class="ui simple dropdown item">
            &emsp;Classes&emsp;<i class="brown list layout icon"></i>
            <div class="menu">
                <a id="viewTrainerClasses" class="item" href="/trainerDashboard/viewtrainerclasses">&emsp;&emsp;All Classes&emsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="red calendar icon"></i></a>
                <a id="trainerClasses" class="item" href="/trainerDashboard/trainerclasses">&emsp;&emsp;Create Class&emsp;<i class="blue write icon"></i></a>
            </div>
        </div>
        <a id="trainerBookings" class="item" href="/trainerDashboard/trainerbookings">&emsp;Bookings &emsp;&nbsp;<i class="blue add to calendar icon"></i></a>
        <a id="trainerGoals" class="item" href="/trainerDashboard/trainergoals">&emsp;Goals &emsp;&nbsp;<i class=" green bullseye trophy icon"></i></a>
        <div class="ui simple dropdown item">
            &emsp;Menu&emsp;<i class="orange sidebar icon"></i>
            <div class="menu">
                <a id="trainerDashboard" class="item" href="/trainerDashboard">&emsp;Dashboard&emsp;&nbsp;&nbsp;&nbsp;<i class="green home icon"></i></a>
                <a id="logout" class="item" href="/logout">&emsp;Logout&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;<i class="red sign out icon"></i></a>
            </div>

        </div>
    </div>
</nav>

<script>
    // Tells which menu is active
    $("#{{id}}").addClass("active item");

    // Allow top nav menu bar to stick and follow you down the page
    $('.ui.menu')
            .sticky()
    ;
</script>