{{> menu id="about"}}

<section class="ui inverted teal center aligned middle aligned segment">

    <h2 class="ui red header">
        Gym App
    </h2>

    <p>
        <i>Gym App Distributions.<br>
            Industrial Software and Technology Business Park,<br>
            123 Palo Alto, Silicon Valley,<br>
            California, USA.</i><br><br>
        <strong>Telephone:</strong> <em>1-800-300-5616</em><br>
        <strong>Email:</strong> <em>hpmakers@gmail.com</em>
    </p>

</section>
