{{> welcomeMenu id="about"}}

<section class="ui inverted brown segment">
    <section class="ui yellow center aligned segment">
        <div class="ui two column grid basic middle aligned segment">

            <div class="column">
                <h3><i>"Do you want to be as happy as our good friend Homer?? <br>Then what are you waiting for?? <br>Sign up today!!"</i></h3>
                <img class="ui centered medium image" src="https://static.digitecgalaxus.ch/Files/8/1/8/0/7/4/6/person_image_286537.gif">
            </div>

            <div class="column">
                <h2 class="ui red header">
                    Lefties Gym App
                </h2>
                <p>
                    <i>Lefties Gym App Ltd.<br>
                        Industrial Health & Fitness Business Park,<br>
                        Unit 411 South Side,<br>
                        Springfield, USA.</i><br><br>
                    <strong><i class="call icon"></i>telephone:</strong> <em> 1-800-300-561</em><br>
                    <strong><i class="mail icon"></i>email:</strong> <em> leftiesgymapp@gmail.com</em><br>
                    <strong><i class="world icon"></i>website:</strong><em> www.leftiesgymapp.com</em>
                </p>
            </div>
        </div>
    </section>
</section>