{{> welcomeMenu id="about"}}

<section class="ui inverted brown segment">
    <section class="ui yellow center aligned segment">

        <h2 class="ui red header">
            Lefties Gym App
        </h2>

        <p>
            <i>Lefties Gym App Ltd.<br>
                Industrial Health & Fitness Business Park,<br>
                Unit 411 South Side,<br>
                Springfield, USA.</i><br><br>
            <strong><i class="call icon"></i>telephone:</strong> <em>  1-800-300-561</em><br>
            <strong><i class="mail icon"></i>email:</strong> <em>  leftiesgymapp@gmail.com</em><br>
            <strong><i class="world icon"></i>website:</strong><em>  www.leftiesgymapp.com</em>
        </p>

    </section>
</section>