{{> trainerMenu id="allClasses"}}

<section class="ui inverted brown segment">
    <section class="ui center aligned segment">
        <h2 class="ui red center aligned header"> All Classes </h2>

        {{> listClass}}

    </section>
</section>