{{> trainerMenu id = "assessments"}}

<section class="ui inverted yellow segment">
<section class="ui raised segment">
    {{> stats }}
    {{> listAssessments }}
    {{> trainerComment }}
</section>
</section>

