{{> trainerMenu id="classes"}}

<section class="ui inverted yellow segment">
    <section class="ui center aligned segment">
        <div class="ui container">
            <div class="ui centered four doubling stackable cards">
                {{#each classList}}
                    <div class="ui link card">
                        {{> listClass}}

                    </div>
                {{/each}}
            </div>
        </div>
        <h2 class="ui red center aligned header"> Create Workout Classes for Members </h2>

        {{> addClass}}

    </section>
</section>