{{> memberMenu id = "dashboard"}}

<section class="ui inverted yellow segment">
    <section class="ui raised segment">
        {{> memberStats }}
        {{> addAssessment }}
        {{> listAssessments }}
    </section>
</section>