{{> memberMenu id = "dashboard"}}

<section class="ui inverted brown segment">
    <section class="ui yellow raised segment">

        {{#if goalAlert}}
            <div class="ui warning message" id="prompt">
                <i class="close icon" onclick="hide()"></i>
                <div class="header">
                    Hey there {{{member.firstName}}} you have not set any goals, click
                    <a href="/dashboard/membergoals">here </a>to set one FATTY!!!!
                </div>
            </div>
        {{else}}
            <div class="ui negative message" id="prompt">
                <i class="close icon" onclick="hide()"></i>
                <div class="header">
                    Hi {{{member.firstName}}}!!
                    You currently have goals which are being processed.&nbsp;&nbsp;
                    Why not set another??
                </div>
            </div>
        {{/if}}

        {{> memberStats }}
        {{> memberAddAssessment }}
    </section>
</section>

<script>
    function hide() {
        const hidden = document.createAttribute('hidden');
        document.getElementById('prompt').setAttributeNode(hidden);
    }
</script>