{{> memberMenu id = "dashboard"}}

<section class="ui inverted brown segment">
    <section class="ui yellow raised segment">
        {{> memberStats }}
        {{> memberAddAssessment }}
    </section>
</section>