{{> memberMenu id = "dashboard"}}

<section class="ui inverted yellow segment">
    <section class="ui raised segment">
        {{> stats }}
        {{> newAssessment }}
        {{> listAssessments }}
    </section>
</section>