{{> welcomemenu }}

<section class="ui inverted violet raised center aligned middle aligned segment">

    <section class="ui inverted green segment">
        <section class="ui inverted red segment">
            <section class="ui segment">
                <section class="ui inverted red segment">

                </section>
            </section>
        </section>
    </section>

</section>