{{> welcomeMenu }}

<section class = "ui inverted yellow segment">
    <section class="ui center aligned middle aligned segment">

        <h1 class="ui red header">
            Welcome to the Gym App
        </h1>

        <section class = "ui inverted yellow segment">
            <img class="ui centered image" src="http://res.cloudinary.com/cloud101/image/upload/v1500221762/signup_lu0hvq.gif">
        </section>
    </section>
</section>
