{{> welcomeMenu id='login' }}
 
<section class = "ui inverted yellow segment"> 
<section class = "ui segment">
<div class="ui two column grid basic middle aligned segment">
    <div class="column">
    </div>
    
    <div class="column">
    <form class="ui raised segment form" action="/authenticate" method="POST">

        <h1 class="ui red center aligned header">Log-in</h1>

            <div class="field">
                <label>Email</label> <input placeholder="Email" name="email" required>
            </div>
            <div class="field">
                <label>Password</label> <input type="password"  name="password" required>
            </div>

        <button class="ui blue submit button">Login</button>

    </form>
</div>
</section>
</section>