{{> welcomemenu id='login' }}

<form class="ui raised center aligned middle aligned segment form" action="/authenticate" method="POST">

    <div class="two fields">
        <div class = "field">
            <label>Email</label> <input placeholder="Email" name="email" required>
        </div>

        <div class="field">
            <label>Password</label> <input type="password"  name="password" required>
        </div>
    </div>

    <button class="ui red icon button">
        <div class="ui animated blue fade button" tabindex="0">
            <div class="visible content">
                <i class="big lock icon"></i>
            </div>
            <div class="hidden content">
                <i class="big unlock alternate icon"></i>
            </div>
        </div>
    </button>

</form>

