{{> welcomeMenu id='login' }}

<section class = "ui inverted brown segment">
    <section class = "ui yellow segment">
        <div class="ui three column grid basic middle aligned segment">

            <div class="column">
                <h3>Coach Flanders<i><h5>(ned@flanders.com)</h5></i></h3>

                <img class="ui small centered image" src="http://res.cloudinary.com/cloud101/image/upload/v1501622679/ned_gfhoxf.png">
            </div>

            <div class="column">
                <form class="ui raised segment form" action="/authenticate" method="POST">

                    <h1 class="ui red center aligned header">Log-in</h1>

                    <div class="field">
                        <label>Email</label> <input placeholder="Email" name="email" required>
                    </div>
                    <div class="field">
                        <label>Password</label> <label>
                        <input type="password" name="password" required>
                    </label>
                        <input type="checkbox"> Remember me

                    </div>

                    <button class="ui animated fade blue submit button">
                        <div class="visible content"><i class="lock icon"></i>Log-in</div>
                        <div class="hidden content"><i class="unlock icon"></i>Click</div>
                    </button>

                </form>
            </div>

            <div class="column">
                <img class="ui small centered image" src="http://res.cloudinary.com/cloud101/image/upload/v1500222855/info_vit8ea.png">
                <h3>Coach Simpson<i><h5>(marge@simpson.com)</h5></i></h3>
            </div>
        </div>
    </section>
</section>