{{> memberMenu id="memberClasses"}}

<section class="ui inverted brown segment">
    <section class="ui yellow center aligned segment">
        <h2 class="ui red center aligned header"> Available Classes </h2>

        {{> memberClassEdit}}

    </section>
</section>