{{> welcomeMenu id="tAndC"}}


<section class="ui inverted brown segment">
    <section class="ui yellow center aligned segment">
        <h1 class="ui red header">
            TERMS AND CONDITIONS
        </h1>
    </section>


    <section class="ui yellow segment">
        <section class="ui segment">
            <div>
                <h3 class="ui blue header"><u><i class="university icon"></i>The Club</u></h3>
                <p>All of the membership rules contained herein apply equally to members, temporary members and guests
                    alike.</p>

                <p>All reference to the 'Club' refers to Lefties Gym App, its staff, employees, sub contractors,
                    agents and representatives.</p>
                <p>
                    Facilities refer to the gymnasium, showers, saunas, changing rooms and fitness studios where
                    applicable.</p>

                <p>Members of the club are bound, as a condition of membership, to comply with the rules set out below.</p>
                <p>
                    This is to ensure that the facilities are properly and safely used and that all members have full
                    advantage of them without interfering with the enjoyment of others.</p>
            </div>
            <br>

            <div>
                <h3 class="ui blue header"><u><i class="id card outline icon"></i>Membership</u></h3>
                <p>All memberships are Non-Transferable & Non-Refundable.</p>

                <p>All members must be over 16 to avail of facilities and services provided at Lefties Gym App.</p>

                <p>Lefties Gym App is a private members club and the management reserve the right to refuse membership to any individual without cause.</p>

                <p>References may be required on a case by case basis and Police checks will also be run on a case by case basis.</p>

                <p>Failure to pass a Police check will result in membership termination and the refusal of entry again.</p>

                <p>Membership may be renewed on payment of the prevailing fee and in accordance with the terms and conditions then in force.</p>

                <p>By joining the club, members automatically accept and agree to be bound by these conditions of membership.</p>

                <p>The club may withdraw use of all or part of the club for the purpose of undertaking maintenance work or any other work considered necessary for a maximum period of seven working
                    days.</p>

                <p>All members must scan their finger for access to the building on each visit to the club.</p>

                <p>Entry will only be permitted to those with a valid membership, in date and in credit.</p>

                <p>If you have an amount due to be paid on your account you won't be able to enter the building.</p>

                <p>As a member you agree to comply with the rules of the club with regards to use of the facilities, opening hours and your conduct.</p>

                <p>The club may make reasonable changes to these rules, from time to time, provided the club gives advance notice of these changes.</p>

                <p>You may, at your own discretion and expense, obtain personal insurance for loss, injury or damage that you might sustain arising from use of the club.</p>

                <p>You exercise at your own discretion and accept any injury or illness brought on by exercise is your own responsibility.</p>

                <p>Members wishing to report on accidents, incidents, or problems with services at the club should contact the Duty Manager (simply ask at reception desk upstairs).</p>

                <p>In the event of a breach of membership rules and regulations the Club reserves the right of admission and may reserve the right to require any member or guest to leave the
                    premises.</p>

                <p>Any member found in breach of rules or committing an illegal act, including theft, will be asked to permanently leave the club and be barred from ever entering the club
                    again.</p>
            </div>
            <br>

            <div>
                <h3 class="ui blue header"><u><i class="visa icon"></i>Bank Card Direct Debit Payments</u></h3>
                <p>On selecting the Pay Monthly membership option, members will be required to pay the associated registration fee and the 1st month membership fee in advance.</p>

                <p>Members are required to agree to the normal terms and conditions of payment.</p>

                <p>This is a recurring monthly charge.</p>

                <p>Membership Fees will be debited from the members account, using their given bank debit/credit card, on or around their join date each month, for the minimum 1 month term from the
                    term start date.
                <p>

                <p>Members can cancel their agreement and stop payments at any time, by simply logging in to their Member Area online and pressing the "Cancel" button.</p>

                <p>Members are required to keep their account in funds to meet these payments.</p>

                <p>In the event of the failure to pay the monthly membership fee, missed payments will be re-submitted for payment by Lefties Gym App Limited.</p>

                <p>Lefties Gym App Limited reserves the right to cancel membership if payment is not received.</p>

                <p>Access to the facility will be denied until said payment is received and if payment is not received, and cancellation occurs, the registration fee becomes applicable again on
                    re-joining.</p>

                <p>These arrears of fees must be paid by Credit or Debit card online using the Member Area.</p>

                <p>Failure to meet direct debit fee in the event of the failure to pay the monthly direct debit fee you will firstly be notified that your membership has been temporarily stopped until
                    the balance is paid.</p>
            </div>
            <br>

            <div>
                <h3 class="ui blue header"><u><i class="lock icon"></i>Lockers</u></h3>
                <p>Lockers are provided for the use of members and their guests but may not be used overnight.</p>

                <p>Members who do so are liable to find that the lockers are opened and locker contents removed.</p>

                <p>Removal of such items is strictly at the members own risk.</p>

                <p>Padlocks may be purchased at reception.</p>

                <p>In the interest of safety and security please use the lockers provided.</p>

                <p>The club will have no liability for goods taken from the changing rooms or lockers.</p>
            </div>
            <br>

            <div>
                <h3 class="ui blue header"><u><i class="wait icon"></i>Opening Hours</u></h3>
                <p>The club reserves the right to vary the opening hours as considered necessary for the proper operation of the centre.</p>
            </div>
            <br>

            <div>
                <h3 class="ui blue header"><u><i class="users icon"></i>Guests</u></h3>
                <p>Guests of members are welcome to use the facilities & services of the club, by purchasing a 1 day gym pass online.</p>

                <p>Guest Day Passes can also be purchased using cash from the vending machine at reception for a fee of $10.</p>

                <p>There is no limit to the number of day passes a person can purchase/use.</p>
            </div>
            <br>

            <div>
                <h3 class="ui blue header"><u><i class="first aid icon"></i>Safety & Hygiene</u></h3>
                <p>Throughout the course of your membership with the club, regular health and medical screening should be sought from your General Practitioner.<br>

                <p>Before using the fitness facilities, you should go through a basic introductory session with one of the fitness staff, followed by further sessions (as necessary) to ensure that you
                    understand the equipment and adopt a safe training regime that suits your needs.</p>

                <p>The booking of this is your responsibility.</p>

                <p>It is necessary that all members and guests of the club wear appropriate, clean attire and foot wear when using the studio and gym.</p>

                <p>If you feel dizzy, faint, unwell or feel any unusual pain then you must stop exercising and inform a member of staff immediately.</p>

                <p>Members cannot train in the club without a hand towel.</p>

                <p>In the interest of hygiene members must wipe down each piece of equipment after use.</p>

                <p>Studio users are advised to inform the instructor of any injuries, pains or concerns prior to the class starting.</p>
            </div>
            <br>

            <div>
                <h3 class="ui blue header"><u><i class="options icon"></i>Payment Terms & Conditions – Lefties Gym App Ltd</u></h3>
                <p>All of the membership rules contained herein apply equally to members, temporary members, guests to our clubs and website users and visitors alike.</p>
            </div>
            <br>

            <div>
                <h3 class="ui blue header"><u><i class="edit icon"></i>Your Rights and Responsibilities Using Our Website</u></h3>
                <p>When you use this website you agree to abide to civil, commercial, intellectual property, communications and liable laws which apply in the USA, regardless of your
                    location.</p>

                <p>Failure to do so may result in legal action in an American court and possible extradition for offences against the state.</p>

                <p>In addition to these laws, accessible via this link <u>http://www.usastatutebook.com/</u> and our privacy policy we wish to reaffirm the following rights:</p>
            </div>
            <br>

            <div>
                <h4 class="ui red center aligned header"><u>Terms and Conditions for accessing this website</u></h4>
                <p>1. &emsp; By using this site you agree to be legally bound by these terms and conditions. If you do not agree to be legally bound by all the following terms you should not access
                    and/or use our website or communicate in any way with the server hosting this website, namely, but not limited to,www.leftiesgymapp.ie</p>

                <p>2. &emsp; Henceforth in this legal declaration, you the website user, or associated parties will be known as either "you" or "the client". We, Lefties Gym App Ltd. will be
                    known as "We", "Us" or "Our Company", our general or individual assets will be addressed by the prefix "Our".</p>

                <p>3. &emsp; You agree that we reserve the right to change these, or any, terms and conditions, content and/or declarations without prior notification, and changes made come into
                    immediate effect upon being presented here. When such changes are made, you may revoke your agreement by engaging with our company online using this or any website, or continue to
                    accept such changes.</p>
            </div>
            <br>

            <div>
                <h4 class="ui red center aligned header"><u>Lawful Use</u></h4>
                <p>1. &emsp; You may not broadcast, copy, download, frame, reproduce, republish, post, transmit or otherwise use our websites content appearing on our website, or any other
                    media, in any way except for your own personal, non-commercial use. Any other use of such content requires permission of our company (contact details available in our privacy
                    policy).</p>

                <p>2. &emsp; You agree only to use our website, and associated services for completely lawful purposes, in a way that does not infringe the rights of, restrict or inhibit the use
                    or enjoyment of this site by any third party. Prohibited behaviour includes but is not limited to defamation, damaging the security of our website, harassing or causing distress or
                    inconvenience to any person, damaging content on our website, transmitting obscene or offensive content or anything which may affect the effective operation of our website.</p>

                <p>3. &emsp; We reaffirm, hacking, damaging or otherwise compromising the
                    security of this website is highly unlawful under American law, and hence will be treated as criminal
                    damage in an American court of law.</p>
            </div>
            <br>

            <div>
                <h4 class="ui red center aligned header"><u>Disclaimers/Limitation of Liability</u></h4>
                <p>1. &emsp; Our websites content, is provided on a "As Is" and on an "voluntary access" basis without any representations or any kind of warranty whether express, implied or
                    statutory of merchantability, fitness for a particular purpose, non-infringement, compatibility, security and accuracy.</p>

                <p>2. &emsp; Our company will not be liable for any damages, including consequential damages, or any damages arising from the loss of use, interruption of trade, financial
                    loss or damages, whether in contract, negligence or other tortious action, arising from or in connection with the use of our website.</p>

                <p>3. &emsp; We refuse to accept any responsibility for the failure and/or actions of third parties, and content and communication interception which may occasionally occur using
                    our website or associated services.</p>
            </div>
            <br>

            <div>
                <h4 class="ui red center aligned header"><u>Third Party Content</u></h4>
                <p>1. &emsp; Any third party content hosted or otherwise presented on our website is copyright of it's respective owners. We do not accept liability for any loss or damage in
                    transmission of such content and in turn do not accept any liability for how content may be misused by our websites users.</p>

                <p>2. &emsp; If you notice any third party, unauthorised content displayed on our website or otherwise communicated or transmitted by our company, please contact us (details
                    available in our privacy policy).</p>
            </div>
            <br>

            <div>
                <h4 class="ui red center aligned header"><u>Third Party Sites/Links</u></h4>
                <p>1. &emsp; Our company not responsible for the availability or content of any third party websites or material accessed through the our website. We purposely do not monitor third
                    party content available through third party websites and/or links as a disclaimer of liability for such content.</p>

                <p>2. &emsp; Our company does not endorse, and shall not be held responsible for any content, advertising, products, services or information on or available from third party sites.
                    Third party sites linked through our website are not covered by our terms of service, and hence you must review their policies appropriately.</p>
            </div>
            <br>

            <div>
                <h4 class="ui red center aligned header"><u>Disclaimer Of Liability For Legal Declarations</u></h4>
                <p>1.&emsp; If any provisions of these terms and conditions are found to be illegal, outdated, less legally preferable in a legal action or otherwise unenforceable by reason of the
                    laws of any state or country in which these terms are intended to be effective, then to the extent and within the jurisdiction in which that term is illegal, invalid or
                    unenforceable, it shall be severed and deleted from these terms and the remaining terms shall survive, remain in full force and effect. We refuse to accept liability for parties
                    who do not make us openly aware of faults and later deny such observations in legal action - Access our website at your own, sole risk and liability without exception.</p>

                <p>These terms shall be governed by and interpreted in accordance with the laws of the USA.</p>
            </div>
        </section>
    </section>
</section>
