{{> trainerMenu id = "trainerDashboard"}}

<section class = "ui inverted yellow segment">
    <div class="ui center aligned segment">
        <h2>Members Assessments List</h2>
        {{> memberList }}
    </div>
</section>