{{> trainerMenu id = "trainerDashboard"}}

<section class = "ui inverted yellow segment">
    <div class="ui center aligned segment">
        <h2>Your Full List of Members Assessments {{ trainer.firstName}}!!</h2>
        {{> memberList }}
    </div>
</section>