{{> memberMenu id="viewMemberClasses"}}

<section class="ui inverted brown segment">
    <section class="ui yellow center aligned segment">
        <h2 class="ui red center aligned header"> Workout Classes </h2>

        {{> listMemberClass}}

    </section>
</section>