{{> trainerMenu id="viewTrainerClasses"}}

<section class="ui inverted brown segment">
    <section class="ui yellow center aligned segment">
        <h2 class="ui red center aligned header">All Workout Classes </h2>

        {{> showTrainerClasses }}

    </section>
</section>
