{{> trainerMenu id = "viewAssessments"}}

<section class="ui inverted yellow segment">
    <section class="ui raised segment">

        {{> stats }}
        {{> listAssessments }}

    </section>
</section>

