{{> trainerMenu id = "viewAssessments"}}

<section class="ui inverted yellow segment">
    <section class="ui raised segment">
        <h2 class="ui red center aligned header">Assessments List</h2>

        {{> memberStats }}
        {{> listAssessments }}

    </section>
</section>

