{{> trainerMenu id = "viewAssessments"}}

<section class="ui inverted yellow segment">
    <section class="ui raised segment">
        <h2 class="ui red center aligned header">{{member.firstName}} {{member.lastName}}'s Assessments List</h2>
        {{> stats }}
        {{> listAssessments }}

    </section>
</section>

